@model List<MusicPortal.Models.dbEntities.Composition>
@{
    ViewBag.Title = "Композиции";
}

<table style="width:90%">
    <tbody>
        @foreach (var composition in Model)
        {
            if (composition.isValid == true || composition.isValid == null)
            {
                Html.RenderPartial("CompositionOverviewPartial", composition);
            }
        }
        </tbody>
        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
        {
            <tbody>
                @Html.ActionLink("Добавить композицию", "CreateSong", new { id = Request.Params["albumID"] }, new { @class = "btn btn-defualt btn-primary" })
            </tbody>
        }

    </table>

