@model MusicPortal.Models.vmEntities.UserProfile

@{
    ViewBag.Title = "Личный кабинет пользователя";
    List<MusicPortal.Models.dbEntities.Album> albums = ViewBag.albums as List<MusicPortal.Models.dbEntities.Album>;
    List<MusicPortal.Models.dbEntities.Language> languages = ViewBag.languages as List<MusicPortal.Models.dbEntities.Language>;
}

@if (Model.favoriteSongs.Count() > 0)
{
    <table title="Любимые песни" style="width:90%">
        <h1 class="text-center">Любимые песни</h1>
        <thead>
            <tr>
                <th scope="col">Песня</th>
                @if (User.Identity.IsAuthenticated && User.IsInRole("User"))
                {
                    <th scope="col">Действие</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var composition in Model.favoriteSongs)
            {

                <tr>
                    <td>
                        @{Html.RenderPartial("CompositionOverviewPartial", composition);}
                    </td>
                    <td>
                        <div class="btn deleteSong btn-primary" data-int="@composition.id">
                            <span>
                                Удалить из избранного
                            </span>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@if (Model.downloadedSongs.Count() > 0)
{
    <table title="Скачанные песни песни" style="width:90%">
        <h1 class="text-center">Сохраненные песни</h1>
        <thead>
            <tr>
                <th scope="col">Песня</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var composition in Model.downloadedSongs)
            {

                <tr>
                    <td>
                        @{Html.RenderPartial("CompositionOverviewPartial", composition);}
                    </td>
                    <td>
                        <div class="btn deleteSong btn-primary" data-int="@composition.id">
                            <span>
                                Удалить из сохраненных
                            </span>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@if (Model.listenedSongs.Count() > 0)
{
    <table title="Прослушанные песни" style="width:90%">
        <h1 class="text-center">Прослушанные песни</h1>
        <thead>
            <tr>
                <th scope="col">Песня</th>
            </tr>
        </thead>

            <tbody>
                @foreach (var composition in Model.listenedSongs)
                {

                    <tr>
                        <td>
                            @{Html.RenderPartial("CompositionOverviewPartial", composition);}
                        </td>
                    </tr>
                 }
            </tbody>
    </table>
}

    <script>
    window.onload = function () {

        var buttons = document.getElementsByClassName('deleteSong');
        console.log(buttons);
        for (let i = 0; i < buttons.length; i++) {
            buttons[i].addEventListener("click", () => DeleteSong(buttons[i].dataset.int));
        }
    }
    function DeleteSong(int)
    {
        $.ajax({
            type: "POST",
            url: "@Url.Action("RemoveSongFromFavorites", "Portal")",
            data: {SongId: int},
            success: function (data) {
                alert("Удалено");
                location.reload();
            }
        });
    }
    </script>

