@model MusicPortal.Models.vmEntities.UserProfile

@{
    ViewBag.Title = "Личный кабинет пользователя";
    List<MusicPortal.Models.dbEntities.Album> albums = ViewBag.albums as List<MusicPortal.Models.dbEntities.Album>;
    List<MusicPortal.Models.dbEntities.Language> languages = ViewBag.languages as List<MusicPortal.Models.dbEntities.Language>;
}

<table title="Любимые песни" style="width:90%">
    <tr class="text-bg-light">
        <td>ЛЮБИМЫЕ ПЕСНИ</td>
    </tr>
    @if (Model.favoriteSongs.Count() > 0)
    {
        <tbody>
            @foreach (var composition in Model.favoriteSongs)
            {
                    Html.RenderPartial("CompositionOverviewPartial", composition);
                <div class="btn deleteSong btn-primary" data-int="@composition.id">
                    <span>
                        Удалить из избранного
                    </span>
                </div>
            }
            </tbody>
    }
    else
    {
            <tr class="text-center">
                <td>
                    Нет загруженных песен!
                </td>
            </tr>
    }
</table>

<table title="Скачанные песни:" style="width:90%">
    <tr class="text-bg-light">
        <td>СКАЧАННЫЕ ПЕСНИ</td>
    </tr>
    @if (Model.downloadedSongs.Count() > 0)
    {
        <tbody>
            @foreach (var composition in Model.downloadedSongs)
            {
                Html.RenderPartial("CompositionOverviewPartial", composition);
            }
        </tbody>

    }
    else
    {
        <tr class="text-center">
            <td>
                Нет загруженных песен!
            </td>
        </tr>
    }
</table>

<table title="Прослушанные песни" style="width:90%">
    <tr class="text-bg-light">
        <td>ПРОСЛУШАННЫЕ ПЕСНИ</td>
    </tr>
    @if (Model.listenedSongs.Count() > 0)
    {
        <tbody>
            @foreach (var composition in Model.listenedSongs)
            {
                Html.RenderPartial("CompositionOverviewPartial", composition);
            }
        </tbody>
    }
    else
    {
        <tr class="text-center">
            <td>
                Нет загруженных песен!
            </td>
        </tr>
    }
</table>

<script>
    window.onload = function () {

        var buttons = document.getElementsByClassName('deleteSong');
        console.log(buttons);
        for (let i = 0; i < buttons.length; i++) {
            buttons[i].addEventListener("click", () => DeleteSong(buttons[i].dataset.int));
        }
    }
    function DeleteSong(int)
    {
        $.ajax({
            type: "POST",
            url: "@Url.Action("RemoveSongFromFavorites", "Portal")",
            data: {SongId: int},
            success: function (data) {
                alert("Удалено");
            }
        });
    }
</script>

